[Desktop Entry]
Name=AeonWave Config
Comment=AeonWave configuration applet
Exec=aaxconfig
Icon=/usr/share/icons/aaxconfig.png
Type=Application
Categories=AudioVideo;Audio;
Terminal=false
Encoding=UTF-8
