[Desktop Entry]

Name=AeonWave Config
TryExec=aaxconfig
Categories=System;Settings;HardwareSettings;

Encoding=UTF-8
Comment=AeonWave configuration applet
Exec=aaxconfig
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/aaxconfig.xpm
X-Ubuntu-Gettext-Domain=aaxconfig
X-GNOME-Settings-Panel=aaxconfig
#Icon=aaxconfig
#MimeType=text/plain
